<fd-shellbar>
  <fd-shellbar-logo>
    <a
      href="#"
      class="fd-shellbar__logo fd-shellbar__logo--image-replaced"
      aria-label="SAP"
    ></a>
  </fd-shellbar-logo>
  <fd-shellbar-title> Path of Exile </fd-shellbar-title>
</fd-shellbar>
<ng-container *ngIf="stashItems$ | async as items">
  <app-loading-hoc [loading]="(loading$ | async) === true">
    <app-error-handling-hoc [error]="error$ | async" (retry)="onRetry()">
      <app-stash-tabs-container
        [items]="items"
        [leagues]="(availableLeagueInStashTab$ | async) ?? []"
        (searchTermChange)="onSearchTermChange($event)"
        (selectedLeagueChange)="onLeagueChange($event)"
      ></app-stash-tabs-container>
    </app-error-handling-hoc>
  </app-loading-hoc>
</ng-container>
