
@media only screen and (max-width: 600px) {
    .tbl-td-stash-tab-name{
        width:50%;
    }
}

@media only screen and (min-width: 600px) {
    .tbl-td-stash-tab-name{
        width:40%;
    }
}

@media only screen and (min-width: 768px) {
    .tbl-td-stash-tab-name{
        width:20%;
    }
}
